
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <title>Wheather app</title>
    </head>
    <body>
        <div class="card-container">
            
            <h1>Minimal weather app</h1>
            <form action="{{url_for('weather')}}" method="POST">
                <input class="text-area" type="text" name="city" placeholder="City" required>
                <input class="btn" type="submit" value="Get weather">
            
        </div>
            
   


    
</body>
<footer>
    <p class="dev">Dev Jose Morales</p>
</footer>
</html>